{% extends "auth_main.html" %}
{% block title %} {% endblock title %}
{% block content %}

<h1>Login User</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}

        <input type="submit" name="submit" id="" value="Login"> <br>
        <p>If you dont have a account!!</p>
        <button ><a href="{% url 'signup' %}">Signup</a></button>
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

    </form>
    {% if error %}
    <p style="color: red;"><h4>{{ error }}</h4></p>
    {% endif %}

</div>



{% endblock content %}



